@import 'utils';

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  padding: 0.5rem;
}

.clock {
  position: relative;

  @include flex-centered;

  width: 100%;
  padding: 1rem;

  border-radius: 0.5rem;
}

.display {
  position: absolute;

  @include flex-centered;
}

.wrapper {
  position: relative;

  width: 100%;
  min-width: 17rem;
  max-width: 20rem;
  margin: 2rem 0;
  padding: 1rem;

  @include flex-centered;
}
