@import 'utils';

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  background-color: $black;
  color: $white;
  font-family: $font-stack;
  font-size: 100%;

  -webkit-tap-highlight-color: transparent;
}

button {
  font-family: inherit;
  border: none;
}
